/* hoiab kogu bloki keskel */
.custom-figure {
  display: block;
  margin: 1.1rem auto;       /* auto = keskele veerus */
  text-align: center;         /* pärib ka figcaptionile, kui allpoolt üle ei kirjutata */
}

/* pilt ja pildi-alune vahe väga väike */
.custom-figure img {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,.04);
  margin-bottom: 0.15rem;     /* tihedam kui varem */
}sss

/* caption – Medium-style */
.custom-figure figcaption {
  font-size: 0.82rem;
  color: #6e6e6e;
  font-weight: 400;
  font-style: normal;
  line-height: 1.35;
  margin-top: 0.1re
